<div class="bg-faded p-4 my-4">
	  <hr class="divider">
	  <h2 class="text-center text-lg text-uppercase my-0"><%= @recipe.recipeName %></h2>
	  <hr class="divider">
	  <img class="img-fluid float-left mr-4 d-none d-lg-block" src="img/intro-pic.jpg" alt="">
	  <p class="text-center"><%= simple_format(@recipe.description) %></p>
	  <hr class="divider">
  	<p class="text-center"><%= sanitize @recipe.instructions, tags: %w(strong em p br div ul ol li) %></p>
  	<%= render 'shared/user_info' %>
</div>