
<div class="jumbotron">
  <div class="container">
  	<div class="tagline-lower text-center text-expanded text-shadow text-uppercase text-white mb-5 d-none d-lg-block">Welcome to The internet's premier recipe sharing app!</div>
    <p class="lead"><%= link_to "Sign Up", signup_path, class: "btn btn-danger btn-lg" %></p>
  </div>
</div>

<div class="bg-faded p-4 my-4">
  <hr class="divider">
  <h2 class="text-center text-lg text-uppercase my-0">Build a catalog of recipes
    <strong>that you love!</strong>
  </h2>
  <hr class="divider">
  <img class="img-fluid float-left mr-4 d-none d-lg-block" src="img/intro-pic.jpg" alt="">
  <p>Spicy jalapeno bacon ipsum dolor amet voluptate strip steak cillum, ea mollit biltong magna venison swine ullamco et aliqua tail. Brisket ullamco burgdoggen, chuck jowl pork belly dolore occaecat venison sirloin velit.</p>
  <p>Flank culpa ut, cupidatat ut deserunt id porchetta esse ex nostrud irure lorem salami. Laboris exercitation ipsum ullamco ham hock meatloaf kielbasa aliqua pork chop cillum jowl doner. Culpa fatback ea doner frankfurter sausage.</p>
  <p>Leberkas laborum porchetta turducken ham hock sausage kevin short ribs doner minim. Commodo venison bresaola consequat, pork chop ex tempor beef hamburger dolore ribeye pastrami leberkas sunt.</p>
</div>

<div class="bg-faded p-4 my-4">
  <hr class="divider">
  <h2 class="text-center text-lg text-uppercase my-0">Share with your
    <strong>friends and family!</strong>
  </h2>
  <hr class="divider">
  <p>Buffalo ut sausage ullamco pancetta sed frankfurter pork belly jowl doner. Occaecat kielbasa chuck deserunt do tri-tip tongue in shank elit ground round biltong. Qui fatback ut, ipsum sed beef ribs tenderloin velit enim.</p>
  <p>Hamburger spare ribs fugiat leberkas shoulder buffalo bresaola dolore. Magna consequat picanha short loin cillum sint ad in cupim. Ut dolore ut elit ball tip dolor chicken sed excepteur landjaeger magna.</p>
</div>

